.dropdown-menu-topbar{
  left:-50px ! important;
  width: 900px;
  padding: 10px 40px;
  height: 300px;
  overflow:auto;
}
#projectselect{
  background: none ! important;
}
.service-item-head{
  padding:10px 0px 5px 0px;
  color:white;
  font-weight:500;
}
.service-item-small{
  color: white;
  font-weight: 100;
  font-size: 11px;
  text-decoration: none !important;
}
.service-item-small:hover{
  color:white !important;
}
.service-item-large{
  color: white;
  font-weight: 100;
  font-size: 15px;
  text-decoration: none !important;
}
.service-item-block{
  margin-bottom:10px;
}
.service-item-link{
  text-decoration: none !important;
}
.nopadding {
  padding: 0 !important;
  
}
.marginRight{
  margin-right:10px;
}
.processbtn{
  font-size: 12px;
    color: white;
}
.message {
  font-size:12px;
}
.marginTop{
  margin-top:30px;
}
.badge-font{
  font-size: 8px;
  margin: 0px ! important;
}
.name_txt{
  margin-top:5px;
}
.edited_txt{
  margin-top:5px;
  font-size:10px;
}
.rating_txt{
  margin-top:5px;
  font-size:10px;
  margin-bottom:5px;
}
.admin_txt{
  margin-top:5px;
  font-size: 12px;
}
.card_custom{
  padding:10px ! important;
}

.main-panel-home {
    transition: width 0.25s ease, margin 0.25s ease;
    width: 100%;
    min-height: calc(100vh - 70px);
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}