
<div class="subheader" id="list-header">
	<div class="fixed-container">
	    <div class="btn-group pull-right">
	        <button type="button" class="btn btn-default" ng-click="createForm()" translate>MODELER.FORMS-LIST.ACTION.CREATE</button>
	    </div>
	    <h2>{{'MODELER.FORMS-LIST.TITLE' | translate}}</h2>
	</div>
</div>
<div class="container-fluid content" id="list-container" auto-height offset="40">
        <div class="col-xs-2 filter-wrapper">
            <div class="input-group">
                <span class="input-group-addon"> <i
                    class="glyphicon glyphicon-search"></i>
                </span> <input type="text" ng-model="model.pendingFilterText" class="form-control" ng-change="filterDelayed()"
                    placeholder="{{'MODELER.FORMS-LIST.SEARCH-PLACEHOLDER' | translate}}">
            </div>
            <ul class="filter-list">
                <li ng-repeat="filter in model.filters" ng-class="{'current' : filter.id == model.activeFilter.id}">
                    <a ng-click="activateFilter(filter)">{{'MODELER.FORMS-LIST.FILTER.' + filter.labelKey | translate}}</a>
                </li>
            </ul>
        </div>
        
        <div class="col-xs-10 item-wrapper" id="list-items">
            <div class="dropdown-subtle pull-right">
                <div class="btn-group btn-group-sm" activiti-fix-dropdown-bug>
                    <button type="button" class="btn btn-default dropdown-toggle"
                        data-toggle="dropdown">{{'MODELER.FORMS-LIST.SORT.' + model.activeSort.labelKey | translate}} <i class="caret"></i></button>
                    <ul class="dropdown-menu pull-right">
                        <li ng-repeat="sort in model.sorts">
                            <a ng-click="activateSort(sort)">{{'MODELER.FORMS-LIST.SORT.' + sort.labelKey | translate}}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="message clearfix">
                <div class="loading pull-left" ng-show="model.loading">
                    <div class="l1"></div><div class="l2"></div><div class="l2"></div>
                </div>
                <div ng-if="!model.loading">
                    <span ng-if="model.forms.size > 1">{{'MODELER.FORMS-LIST.FILTER.' + model.activeFilter.labelKey + '-COUNT' | translate:model.forms}}</span>
                    <span ng-if="model.forms.size == 1">{{'MODELER.FORMS-LIST.FILTER.' + model.activeFilter.labelKey + '-ONE' | translate}}</span>
                    <span ng-if="model.forms.size == 0 && (!model.filterText || model.filterText == '')">{{'MODELER.FORMS-LIST.FILTER.' + model.activeFilter.labelKey + '-EMPTY' | translate}}</span>
                    <span ng-if="model.forms.size > 0 && model.filterText !='' && model.filterText !== undefined">{{'MODELER.FORMS-LIST.FILTER.FILTER-TEXT' | translate:model}}</span>
                    <span ng-if="model.forms.size == 0 && model.filterText !='' && model.filterText !== undefined">{{'MODELER.FORMS-LIST.FILTER.FILTER-TEXT-EMPTY' | translate:model}}</span>
                </div>
            </div>
            
            <div class="create-inline" ng-if="model.forms.size == 0 && (!model.filterText || model.filterText == '')">
                <span>{{'MODELER.FORMS-LIST.FILTER.' + model.activeFilter.labelKey + '-EMPTY' | translate}}</span>
                <span><button type="button" class="btn btn-default" ng-click="createForm()">
                    <i class="glyphicon glyphicon-plus-sign"></i>{{'MODELER.FORMS-LIST.ACTION.CREATE-INLINE' | translate}}
                </button></span>
            </div>
            
            <div class="item fadein" ng-repeat="form in model.forms.data track by $index">
                <div class="item-box" ng-style="{'background-image': 'url(\'' + getModelThumbnailUrl(form.id, imageVersion) + '\')'}" ng-click="showFormDetails(form);">
                    <div class="actions">
                        <span class="badge">v{{form.version}}</span>
                        <div class="btn-group pull-right">
                            <button type="button" ng-click="showFormDetails(form); $event.stopPropagation();" class="btn btn-default" title="{{'FORM.ACTION.DETAILS' | translate}}">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                            <button type="button" ng-click="editFormDetails(form); $event.stopPropagation();" class="btn btn-default" title="{{'FORM.ACTION.OPEN-IN-EDITOR' | translate}}">
                                <i class="glyphicon glyphicon-edit"></i>
                            </button>
                        </div>
                    </div>
                    <div class="details">
                        <h3 class="truncate" title="{{form.name}}">
                            {{form.name}}
                        </h3>
                        <div class="basic-details truncate">
                            <span><i class="glyphicon glyphicon-user"></i> {{form.createdBy}}</span> <span title="{{form.lastUpdated | dateformat:'LLLL'}}"><i class="glyphicon glyphicon-pencil"></i> {{form.lastUpdated | dateformat}}</span>
                        </div>
                        <p>{{form.description}}</p>
                    </div>
                </div>
            </div>
            
            <div class="show-more" ng-if="model.forms.data.length < model.forms.total">
                <a>{{'MODELER.FORMS-LIST.ACTION.SHOW-MORE' | translate}}</a>
            </div>
        </div>
</div>
