<div>
	<div class="col-lg-12 col-12 d-flex flex-row nopadding">
		<div class="col-lg-6 col-6 d-flex row nopadding">
			<div class="col-lg-12 col-12">
				<h4>{{'MODELER.PROCESS-LIST.TITLE' | translate}}</h4>
			</div>
			<div class="col-lg-12 col-12">
				<div class="message clearfix">
					<div class="loading pull-left" ng-show="model.loading">
						<div class="l1"></div>
						<div class="l2"></div>
						<div class="l2"></div>
					</div>
					<div ng-if="!model.loading">
						<span
							ng-if="model.processes.size > 1">{{'MODELER.PROCESS-LIST.FILTER.' + model.activeFilter.labelKey + '-COUNT' | translate:model.processes}}</span>
						<span
							ng-if="model.processes.size == 1">{{'MODELER.PROCESS-LIST.FILTER.' + model.activeFilter.labelKey + '-ONE' | translate}}</span>
						<span
							ng-if="model.processes.size > 0 && model.filterText !='' && model.filterText !== undefined">{{'MODELER.PROCESS-LIST.FILTER.FILTER-TEXT' | translate:model}}</span>
						<span
							ng-if="model.processes.size == 0 && model.filterText !='' && model.filterText !== undefined">{{'MODELER.PROCESS-LIST.FILTER.FILTER-TEXT-EMPTY' | translate:model}}</span>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-6 col-6 row">
			<div class="col-lg-4 col-4 dropdown-subtle pull-right">
				<div class="btn-group btn-group-sm" activiti-fix-dropdown-bug>
					<button type="button" class="btn btn-default dropdown-toggle"
						data-toggle="dropdown">{{'MODELER.PROCESS-LIST.SORT.' + model.activeSort.labelKey | translate}}
						<i class="caret"></i></button>
					<ul class="dropdown-menu pull-right">
						<li ng-repeat="sort in model.sorts">
							<a
								ng-click="activateSort(sort)">{{'MODELER.PROCESS-LIST.SORT.' + sort.labelKey | translate}}</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-lg-4 col-4">
				<button type="button" class="btn btn-warning float-sm-right processbtn " ng-click="createProcess()"
					translate>MODELER.PROCESS-LIST.ACTION.CREATE</button>
			</div>
			<div class="col-lg-4 col-4">
				<button type="button" class="btn btn-warning float-sm-right processbtn" ng-click="importProcess()"
					translate>MODELER.PROCESS-LIST.ACTION.IMPORT</button>
			</div>
		</div>
	</div>
	<div class="row marginTop">
		<div class="col-md-4 grid-margin stretch-card" ng-click="showProcessDetails(process); $event.stopPropagation();"
			ng-repeat="process in model.processes.data track by $index">
			<div class="card">
				<div class="card-body card_custom">
					<div class="d-sm-flex flex-row flex-wrap text-center text-sm-left">
						<img src="https://via.placeholder.com/92x92" class="img-lg rounded" alt="profile image">
						<div class="ml-sm-3 ml-md-0 ml-xl-2 mt-2 mt-sm-0 mt-md-2 mt-xl-0">
							<h6 class="mb-0 name_txt">{{process.name}}</h6>
							<div class="mb-1 text-success font-weight-bold admin_txt"><i class="text-primary ti-user"></i>
								{{process.createdBy}}</div>
							<div class="mb-0 edited_txt"><i class="ti-pencil text-primary"></i> {{process.lastUpdated | dateformat}} 
								<i class="ti-time text-primary"></i> 530ms
							</div>
							<div class="d-flex justify-content-between">
								<div class="text-muted rating_txt">Rating 3 of 5</div>
							</div>
							<div class="progress progress-md">
								<div class="progress-bar bg-info" role="progressbar" style="width: 60%"
									aria-valuenow="3" aria-valuemin="0" aria-valuemax="5"></div>
							</div>
						</div>
						<div class="ml-sm-3 ml-md-0 ml-xl-2 mt-2 mt-sm-0 mt-md-2 mt-xl-0">
							<span class="badge badge-pill badge-primary badge-font">V {{process.version}}</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- 
<div class="subheader">

	<div class="fixed-container">
		<div class="btn-group pull-right">

			<button type="button" class="btn btn-default" ng-click="createProcess()"
				translate>MODELER.PROCESS-LIST.ACTION.CREATE</button>
			<button type="button" class="btn btn-default" ng-click="importProcess()"
				translate>MODELER.PROCESS-LIST.ACTION.IMPORT</button>
		</div>
		<h2>{{'MODELER.PROCESS-LIST.TITLE' | translate}}</h2>
	</div>
</div>
<div class="container-fluid content" auto-height offset="40">
	<div class="col-xs-2 filter-wrapper">
		<div class="input-group">
			<span class="input-group-addon"> <i class="glyphicon glyphicon-search"></i>
			</span> <input type="text" ng-model="model.pendingFilterText" class="form-control"
				ng-change="filterDelayed()" placeholder="{{'MODELER.PROCESS-LIST.SEARCH-PLACEHOLDER' | translate}}">
		</div>
		<ul class="filter-list">
			<li ng-repeat="filter in model.filters" ng-class="{'current' : filter.id == model.activeFilter.id}">
				<a
					ng-click="activateFilter(filter)">{{'MODELER.PROCESS-LIST.FILTER.' + filter.labelKey | translate}}</a>
			</li>
		</ul>
	</div>

	<div class="col-xs-10 item-wrapper" id="list-items">
		<div class="dropdown-subtle pull-right">
			<div class="btn-group btn-group-sm" activiti-fix-dropdown-bug>
				<button type="button" class="btn btn-default dropdown-toggle"
					data-toggle="dropdown">{{'MODELER.PROCESS-LIST.SORT.' + model.activeSort.labelKey | translate}} <i
						class="caret"></i></button>
				<ul class="dropdown-menu pull-right">
					<li ng-repeat="sort in model.sorts">
						<a
							ng-click="activateSort(sort)">{{'MODELER.PROCESS-LIST.SORT.' + sort.labelKey | translate}}</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="message clearfix">
			<div class="loading pull-left" ng-show="model.loading">
				<div class="l1"></div>
				<div class="l2"></div>
				<div class="l2"></div>
			</div>
			<div ng-if="!model.loading">
				<span
					ng-if="model.processes.size > 1">{{'MODELER.PROCESS-LIST.FILTER.' + model.activeFilter.labelKey + '-COUNT' | translate:model.processes}}</span>
				<span
					ng-if="model.processes.size == 1">{{'MODELER.PROCESS-LIST.FILTER.' + model.activeFilter.labelKey + '-ONE' | translate}}</span>
				<span
					ng-if="model.processes.size > 0 && model.filterText !='' && model.filterText !== undefined">{{'MODELER.PROCESS-LIST.FILTER.FILTER-TEXT' | translate:model}}</span>
				<span
					ng-if="model.processes.size == 0 && model.filterText !='' && model.filterText !== undefined">{{'MODELER.PROCESS-LIST.FILTER.FILTER-TEXT-EMPTY' | translate:model}}</span>
			</div>
		</div>

		<div class="help-container fixed"
			ng-if="model.processes.size == 0 && (!model.filterText || model.filterText == '')">
			<div>
				<div class="help-text wide">
					<div class="description">
						{{'MODELER.PROCESS-LIST.FILTER.PROCESSES-EMPTY' | translate}}
					</div>
					<div class="help-entry" ng-click="createProcess()">
						<span class="glyphicon glyphicon-plus-sign"></span>
						<span translate="PROCESS-LIST.FILTER.PROCESSES-BPMN-HINT"></span>
						<br>
					</div>
					<div class="help-entry" ng-click="importProcess()">
						<span class="glyphicon glyphicon-plus-sign"></span>
						<span translate="PROCESS-LIST.FILTER.PROCESSES-BPMN-IMPORT-HINT"></span>
						<br>
					</div>
				</div>
			</div>
		</div>
		<div class="item fadein" ng-repeat="process in model.processes.data track by $index">
			<div class="item-box"
				ng-style="{'background-image': 'url(\'' + getModelThumbnailUrl(process.id, imageVersion) + '\')'}"
				ng-click="showProcessDetails(process);">
				<div class="actions">
					<span class="badge">v{{process.version}}</span>
					<div class="btn-group pull-right">
						<button id="detailsButton" type="button"
							ng-click="showProcessDetails(process); $event.stopPropagation();" class="btn btn-default"
							title="{{'PROCESS.ACTION.DETAILS' | translate}}">
							<i class="glyphicon glyphicon-search"></i>
						</button>
						<button id="editButton" type="button"
							ng-click="editProcessDetails(process); $event.stopPropagation();" class="btn btn-default"
							title="{{'PROCESS.ACTION.OPEN-IN-EDITOR' | translate}}">
							<i class="glyphicon glyphicon-edit"></i>
						</button>
					</div>
				</div>
				<div class="details">
					<h3 class="truncate" title="{{process.name}}">
						{{process.name}}
					</h3>
					<div class="basic-details truncate">
						<span><i class="glyphicon glyphicon-user"></i> {{process.createdBy}}</span> <span
							title="{{process.lastUpdated | dateformat:'LLLL'}}"><i
								class="glyphicon glyphicon-pencil"></i> {{process.lastUpdated | dateformat}}</span>
					</div>
					<p>{{process.description}}</p>
				</div>
			</div>
		</div>

		<div class="show-more" ng-if="model.processes.data.length < model.processes.total">
			<a>{{'PROCESSES-LIST.ACTION.SHOW-MORE' | translate}}</a>
		</div>
	</div>
</div> -->