<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Wizz</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="../vendors/ti-icons/css/themify-icons.css">
  <link rel="stylesheet" href="../vendors/css/vendor.bundle.base.css">
  <!-- inject:css -->
  <link rel="stylesheet" href="../css/vertical-layout-dark/style.css">
  <link rel="stylesheet" href="../css/main.css">
  <!-- endinject -->

</head>

<body ng-app="flowableModeler" ng-cloak ng-controller="mainContoller">
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <a class="navbar-brand brand-logo mr-5" href="index.html"><img src="../images/logo-white.svg" class="mr-2"
            alt="logo" /></a>
        <a class="navbar-brand brand-logo-mini" href="index.html"><img src="../images/logo-mini.svg" alt="logo" /></a>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
          <span class="ti-layout-grid2"></span>
        </button>
        <ul class="navbar-nav mr-lg-2">
          <li  class="nav-item nav-search d-none d-lg-block dropdown"
            style="padding-bottom:10px;padding-top:10px">
            <a class=" input-group nav-link" href="#" data-toggle="dropdown" id={{config.services.id}}>
              <i class="ti-settings"></i>{{config.services.itemName}} <i class="ti-angle-down"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-topbar navbar-dropdown" aria-labelledby={{config.services.id}}>
              <input type="text" class="form-control" id="search-service"
                placeholder="Find a service by name or features" aria-label="search" aria-describedby="search">
                <div class="col-lg-12 col-12 d-flex flex-row nopadding">
                <div class="col-lg-2 col-2 nopadding">
                  <div class="service-item-head">Favorites</div>
                  <div ng-repeat="favorites in config.favorites">
                    <a class="service-item-small" href="{{favorites.link}}">
                      {{favorites.name}}
                    </a>
                  </div>
                </div>
                <div class="col-lg-8 col-8 nopadding row">
                  <div class="service-item-head col-lg-12">Services</div>
                  
                  <div class="col-lg-4 col-4 nopadding service-item-block" ng-repeat="services in config.services.items">
                    <a class="service-item-link" href="{{services.link}}">
                      <div class="service-item-large">{{services.name}}</div>
                      <div class="service-item-small">{{services.shortDescription}}</div>
                      <div class="service-item-small">{{services.description}}</div>
                    </a>
                  </div>
                
                </div>
                <div class="col-lg-2 col-2 nopadding">
                  <div class="service-item-head">General</div>
                  <div ng-repeat="general in config.services.general">
                    <a class="service-item-small" href="{{general.link}}">
                     {{general.name}}
                     
                    </a>
                  </div>
                </div>
              </div>
              </div>
          </li>
          <li class="nav-item nav-search d-none d-lg-block">
              <select class="form-control" id="projectselect" ng-model="config.selectedApp" ng-options="name for name in config.apps">
                 
              </select>
          </li>
          <li class="nav-item nav-search d-none d-lg-block">
            <div class="input-group">
              <div class="input-group-prepend hover-cursor" id="navbar-search-icon">
                <span class="input-group-text" id="search">
                  <i class="ti-search"></i>
                </span>
              </div>
              <input type="text" class="form-control" id="navbar-search-input" placeholder="Search now"
                aria-label="search" aria-describedby="search">
            </div>
          </li>

        </ul>
        <ul class="navbar-nav navbar-nav-right">
          <li class="nav-item dropdown mr-1">
            <a class="nav-link count-indicator dropdown-toggle d-flex justify-content-center align-items-center"
              id="messageDropdown" href="#" data-toggle="dropdown">
              <i class="ti-email mx-0"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
              aria-labelledby="messageDropdown">
              <p class="mb-0 font-weight-normal float-left dropdown-header">Messages</p>
              <a class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <img src="https://via.placeholder.com/36x36" alt="image" class="profile-pic">
                </div>
                <div class="preview-item-content flex-grow">
                  <h6 class="preview-subject ellipsis font-weight-normal">David Grey
                  </h6>
                  <p class="font-weight-light small-text text-muted mb-0">
                    The meeting is cancelled
                  </p>
                </div>
              </a>
              <a class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <img src="https://via.placeholder.com/36x36" alt="image" class="profile-pic">
                </div>
                <div class="preview-item-content flex-grow">
                  <h6 class="preview-subject ellipsis font-weight-normal">Tim Cook
                  </h6>
                  <p class="font-weight-light small-text text-muted mb-0">
                    New product launch
                  </p>
                </div>
              </a>
              <a class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <img src="https://via.placeholder.com/36x36" alt="image" class="profile-pic">
                </div>
                <div class="preview-item-content flex-grow">
                  <h6 class="preview-subject ellipsis font-weight-normal"> Johnson
                  </h6>
                  <p class="font-weight-light small-text text-muted mb-0">
                    Upcoming board meeting
                  </p>
                </div>
              </a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#"
              data-toggle="dropdown">
              <i class="ti-bell mx-0"></i>
              <span class="count"></span>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
              aria-labelledby="notificationDropdown">
              <p class="mb-0 font-weight-normal float-left dropdown-header">Notifications</p>
              <a class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <div class="preview-icon bg-success">
                    <i class="ti-info-alt mx-0"></i>
                  </div>
                </div>
                <div class="preview-item-content">
                  <h6 class="preview-subject font-weight-normal">Application Error</h6>
                  <p class="font-weight-light small-text mb-0 text-muted">
                    Just now
                  </p>
                </div>
              </a>
              <a class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <div class="preview-icon bg-warning">
                    <i class="ti-settings mx-0"></i>
                  </div>
                </div>
                <div class="preview-item-content">
                  <h6 class="preview-subject font-weight-normal">Settings</h6>
                  <p class="font-weight-light small-text mb-0 text-muted">
                    Private message
                  </p>
                </div>
              </a>
              <a class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <div class="preview-icon bg-info">
                    <i class="ti-user mx-0"></i>
                  </div>
                </div>
                <div class="preview-item-content">
                  <h6 class="preview-subject font-weight-normal">New user registration</h6>
                  <p class="font-weight-light small-text mb-0 text-muted">
                    2 days ago
                  </p>
                </div>
              </a>
            </div>
          </li>
          <li class="nav-item nav-profile dropdown">
            <a class="nav-link" href="#" data-toggle="dropdown" id="profileDropdown">
              <img src="https://via.placeholder.com/40x40" alt="profile" />
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
              <a class="dropdown-item">
                <i class="ti-settings text-primary"></i>
                Settings
              </a>
              <a class="dropdown-item">
                <i class="ti-power-off text-primary"></i>
                Logout
              </a>
            </div>
          </li>
          <li class="nav-item nav-settings d-none d-lg-flex">
            <a class="nav-link" href="#">
              <i class="ti-more"></i>
            </a>
          </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
          data-toggle="offcanvas">
          <span class="ti-layout-grid2"></span>
        </button>
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_settings-panel.html -->
      <div id="right-sidebar" class="settings-panel">
        <i class="settings-close ti-close"></i>
        <ul class="nav nav-tabs border-top" id="setting-panel" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="todo-tab" data-toggle="tab" href="#todo-section" role="tab"
              aria-controls="todo-section" aria-expanded="true">TO DO LIST</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="chats-tab" data-toggle="tab" href="#chats-section" role="tab"
              aria-controls="chats-section">CHATS</a>
          </li>
        </ul>
        <div class="tab-content" id="setting-content">
          <div class="tab-pane fade show active scroll-wrapper" id="todo-section" role="tabpanel"
            aria-labelledby="todo-section">
            <div class="add-items d-flex px-3 mb-0">
              <form class="form w-100">
                <div class="form-group d-flex">
                  <input type="text" class="form-control todo-list-input" placeholder="Add To-do">
                  <button type="submit" class="add btn btn-primary todo-list-add-btn" id="add-task">Add</button>
                </div>
              </form>
            </div>
            <div class="list-wrapper px-3">
              <ul class="d-flex flex-column-reverse todo-list">
                <li>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="checkbox" type="checkbox">
                      Team review meeting at 3.00 PM
                    </label>
                  </div>
                  <i class="remove ti-close"></i>
                </li>
                <li>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="checkbox" type="checkbox">
                      Prepare for presentation
                    </label>
                  </div>
                  <i class="remove ti-close"></i>
                </li>
                <li>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="checkbox" type="checkbox">
                      Resolve all the low priority tickets due today
                    </label>
                  </div>
                  <i class="remove ti-close"></i>
                </li>
                <li class="completed">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="checkbox" type="checkbox" checked>
                      Schedule meeting for next week
                    </label>
                  </div>
                  <i class="remove ti-close"></i>
                </li>
                <li class="completed">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="checkbox" type="checkbox" checked>
                      Project review
                    </label>
                  </div>
                  <i class="remove ti-close"></i>
                </li>
              </ul>
            </div>
            <h4 class="px-3 text-muted mt-5 font-weight-light mb-0">Events</h4>
            <div class="events pt-4 px-3">
              <div class="wrapper d-flex mb-2">
                <i class="ti-control-record text-primary mr-2"></i>
                <span>Feb 11 2018</span>
              </div>
              <p class="mb-0 font-weight-thin text-gray">Creating component page build a js</p>
              <p class="text-gray mb-0">build a js based app</p>
            </div>
            <div class="events pt-4 px-3">
              <div class="wrapper d-flex mb-2">
                <i class="ti-control-record text-primary mr-2"></i>
                <span>Feb 7 2018</span>
              </div>
              <p class="mb-0 font-weight-thin text-gray">Meeting with Alisa</p>
              <p class="text-gray mb-0 ">Call Sarah Graves</p>
            </div>
          </div>
          <!-- To do section tab ends -->
          <div class="tab-pane fade" id="chats-section" role="tabpanel" aria-labelledby="chats-section">
            <div class="d-flex align-items-center justify-content-between border-bottom">
              <p class="settings-heading border-top-0 mb-3 pl-3 pt-0 border-bottom-0 pb-0">Friends</p>
              <small class="settings-heading border-top-0 mb-3 pt-0 border-bottom-0 pb-0 pr-3 font-weight-normal">See
                All</small>
            </div>
            <ul class="chat-list">
              <li class="list active">
                <div class="profile"><img src="https://via.placeholder.com/40x40" alt="image"><span
                    class="online"></span></div>
                <div class="info">
                  <p>Thomas Douglas</p>
                  <p>Available</p>
                </div>
                <small class="text-muted my-auto">19 min</small>
              </li>
              <li class="list">
                <div class="profile"><img src="https://via.placeholder.com/40x40" alt="image"><span
                    class="offline"></span></div>
                <div class="info">
                  <div class="wrapper d-flex">
                    <p>Catherine</p>
                  </div>
                  <p>Away</p>
                </div>
                <div class="badge badge-success badge-pill my-auto mx-2">4</div>
                <small class="text-muted my-auto">23 min</small>
              </li>
              <li class="list">
                <div class="profile"><img src="https://via.placeholder.com/40x40" alt="image"><span
                    class="online"></span></div>
                <div class="info">
                  <p>Daniel Russell</p>
                  <p>Available</p>
                </div>
                <small class="text-muted my-auto">14 min</small>
              </li>
              <li class="list">
                <div class="profile"><img src="https://via.placeholder.com/40x40" alt="image"><span
                    class="offline"></span></div>
                <div class="info">
                  <p>James Richardson</p>
                  <p>Away</p>
                </div>
                <small class="text-muted my-auto">2 min</small>
              </li>
              <li class="list">
                <div class="profile"><img src="https://via.placeholder.com/40x40" alt="image"><span
                    class="online"></span></div>
                <div class="info">
                  <p>Madeline Kennedy</p>
                  <p>Available</p>
                </div>
                <small class="text-muted my-auto">5 min</small>
              </li>
              <li class="list">
                <div class="profile"><img src="https://via.placeholder.com/40x40" alt="image"><span
                    class="online"></span></div>
                <div class="info">
                  <p>Sarah Graves</p>
                  <p>Available</p>
                </div>
                <small class="text-muted my-auto">47 min</small>
              </li>
            </ul>
          </div>
          <!-- chat tab ends -->
        </div>
      </div>
      <!-- partial -->
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item" ng-repeat="leftmenu in config.leftMenu">
            <a class="nav-link" ng-if="!leftmenu.subMenus" href="{{leftmenu.link}}">
              <i class="ti-settings menu-icon"></i>
              <span class="menu-title">{{leftmenu.itemName}}</span>
            </a>
            <a class="nav-link" ng-if="leftmenu.subMenus" data-toggle="collapse" href="{{leftmenu.link}}"
              aria-expanded="false" aria-controls="{{leftmenu.id}}">
              <i class="ti-palette menu-icon"></i>
              <span class="menu-title">{{leftmenu.itemName}}</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" ng-if="leftmenu.subMenus" id="{{leftmenu.id}}">
              <ul class="nav flex-column sub-menu">
                <li ng-repeat="subMenu in leftmenu.subMenus" class="nav-item"> <a class="nav-link"
                    href="{{subMenu.link}}">{{subMenu.itemName}}</a></li>
              </ul>
            </div>
          </li>

        </ul>
      </nav>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div>
            <div ng-view></div>
          </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2018 <a
                href="https://www.urbanui.com/" target="_blank">Urbanui</a>. All rights reserved.</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i
                class="ti-heart text-danger ml-1"></i></span>
          </div>
        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="../vendors/js/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script src="../vendors/chart.js/Chart.min.js"></script>
  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="../js/off-canvas.js"></script>
  <script src="../js/hoverable-collapse.js"></script>
  <script src="../js/template.js"></script>
  <script src="../js/settings.js"></script>
  <script src="../js/todolist.js"></script>
  <!-- Custom js for this page-->

  <!--<script
   src = "lib/angular.min.js"></script>
   <script
    src = "lib/angular-route.min.js"></script>
   <script src="src/app.js"></script>
   <script src="src/controllers/HomeController.js"></script>
   <script src="src/controllers/DashboardController.js"></script>-->
  <!--Flowable Admin App-->

  <script src="./src/flowable-ui-admin-app/bower_components/modernizr/modernizr.js"></script>
  <script src="./src/flowable-ui-admin-app/bower_components/jquery/jquery.js"></script>

  <script src="./src/flowable-ui-admin-app/bower_components/angular/angular.min.js"></script>
  <script src="./src/flowable-ui-admin-app/bower_components/ng-file-upload/ng-file-upload-shim.js"></script>
  <script src="./src/flowable-ui-admin-app/bower_components/ng-file-upload/ng-file-upload.min.js"></script>
  <script src="./src/flowable-ui-admin-app/bower_components/momentjs/momentjs.min.js"></script>
  <script src="./src/flowable-ui-admin-app/bower_components/angular-route/angular-route.min.js"></script>
  <script src="./src/flowable-ui-admin-app/bower_components/angular-resource/angular-resource.min.js"></script>
  <script src="./src/flowable-ui-admin-app/bower_components/angular-cookies/angular-cookies.min.js"></script>
  <script src="./src/flowable-ui-admin-app/bower_components/angular-sanitize/angular-sanitize.min.js"></script>
  <script src="./src/flowable-ui-admin-app/bower_components/angular-translate/angular-translate.min.js"></script>
  <script src="./src/flowable-ui-admin-app/bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
  <script src="./src/flowable-ui-admin-app/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script
    src="./src/flowable-ui-admin-app/bower_components/angular-translate-storage-cookie/angular-translate-storage-cookie.min.js"></script>
  <script
    src="./src/flowable-ui-admin-app/bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>
  <script src="./src/flowable-ui-admin-app/bower_components/angular-ui-utils/ui-utils.min.js"></script>
  </script>-->
  <script src="./src/flowable-ui-admin-app/bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
  <script src="./src/flowable-ui-admin-app/additional_components/angular-ui-select2/angular-ui-select2.js"></script>
  <script src="./src/flowable-ui-admin-app/additional_components/ng-grid/ng-grid-2.0.14.min.js"></script>
  <script src="./src/flowable-ui-admin-app/additional_components/ui-grid/ui-grid.min.js"></script>
  <script src="./src/flowable-ui-admin-app/bower_components/sass-bootstrap/js/affix.js"></script>
  <script src="./src/flowable-ui-admin-app/bower_components/sass-bootstrap/js/alert.js"></script>
  <script src="./src/flowable-ui-admin-app/bower_components/sass-bootstrap/js/dropdown.js"></script>
  <script src="./src/flowable-ui-admin-app/bower_components/sass-bootstrap/js/tooltip.js"></script>
  <script src="./src/flowable-ui-admin-app/bower_components/sass-bootstrap/js/modal.js"></script>
  <script src="./src/flowable-ui-admin-app/bower_components/sass-bootstrap/js/transition.js"></script>
  <script src="./src/flowable-ui-admin-app/bower_components/sass-bootstrap/js/button.js"></script>
  <script src="./src/flowable-ui-admin-app/bower_components/sass-bootstrap/js/popover.js"></script>
  <script src="./src/flowable-ui-admin-app/bower_components/sass-bootstrap/js/carousel.js"></script>
  <script src="./src/flowable-ui-admin-app/bower_components/sass-bootstrap/js/scrollspy.js"></script>
  <script src="./src/flowable-ui-admin-app/bower_components/sass-bootstrap/js/collapse.js"></script>
  <script src="./src/flowable-ui-admin-app/bower_components/sass-bootstrap/js/tab.js"></script>
  <script src="./src/flowable-ui-admin-app/bower_components/json-formatter/json-formatter.min.js"></script>


  <script src="./src/flowable-ui-admin-app/scripts/config.js"></script>
  <script src="./src/flowable-ui-admin-app/scripts/utils.js"></script>

  <script src="./src/app.js"></script>
  <script src="./src/main-contoller.js"></script>
  <script src="./src/flowable-ui-admin-app/scripts/recursion-helper.js"></script>
  <script src="./src/flowable-ui-admin-app/scripts/controllers.js"></script>
  <script src="./src/flowable-ui-admin-app/scripts/deployments-controllers.js"></script>
  <script src="./src/flowable-ui-admin-app/scripts/deployment-controllers.js"></script>
  <script src="./src/flowable-ui-admin-app/scripts/process-definitions-controllers.js"></script>
  <script src="./src/flowable-ui-admin-app/scripts/process-definition-controllers.js"></script>
  <script src="./src/flowable-ui-admin-app/scripts/process-instances-controllers.js"></script>
  <script src="./src/flowable-ui-admin-app/scripts/process-instance-controllers.js"></script>
  <script src="./src/flowable-ui-admin-app/scripts/tasks-controllers.js"></script>
  <script src="./src/flowable-ui-admin-app/scripts/task-controllers.js"></script>
  <script src="./src/flowable-ui-admin-app/scripts/engine-controller.js"></script>
  <script src="./src/flowable-ui-admin-app/scripts/jobs-controllers.js"></script>
  <script src="./src/flowable-ui-admin-app/scripts/job-controllers.js"></script>
  <script src="./src/flowable-ui-admin-app/scripts/batches-controllers.js"></script>
  <script src="./src/flowable-ui-admin-app/scripts/batch-controllers.js"></script>
  <script src="./src/flowable-ui-admin-app/scripts/batch-part-controllers.js"></script>
  <script src="./src/flowable-ui-admin-app/scripts/event-subscriptions-controllers.js"></script>
  <script src="./src/flowable-ui-admin-app/scripts/event-subscription-controllers.js"></script>
  <script src="./src/flowable-ui-admin-app/scripts/users-controllers.js"></script>
  <script src="./src/flowable-ui-admin-app/scripts/services.js"></script>
  <script src="./src/flowable-ui-admin-app/scripts/directives.js"></script>
  <script src="./src/flowable-ui-admin-app/scripts/constants.js"></script>
  <script src="./src/flowable-ui-admin-app/scripts/cmmn-deployments-controllers.js"></script>
  <script src="./src/flowable-ui-admin-app/scripts/cmmn-deployment-controllers.js"></script>
  <script src="./src/flowable-ui-admin-app/scripts/case-definitions-controllers.js"></script>
  <script src="./src/flowable-ui-admin-app/scripts/case-definition-controllers.js"></script>
  <script src="./src/flowable-ui-admin-app/scripts/case-instances-controllers.js"></script>
  <script src="./src/flowable-ui-admin-app/scripts/case-instance-controllers.js"></script>
  <script src="./src/flowable-ui-admin-app/scripts/cmmn-tasks-controllers.js"></script>
  <script src="./src/flowable-ui-admin-app/scripts/cmmn-task-controllers.js"></script>
  <script src="./src/flowable-ui-admin-app/scripts/cmmn-jobs-controllers.js"></script>
  <script src="./src/flowable-ui-admin-app/scripts/cmmn-job-controllers.js"></script>
  <script src="./src/flowable-ui-admin-app/scripts/app-deployments-controllers.js"></script>
  <script src="./src/flowable-ui-admin-app/scripts/app-deployment-controllers.js"></script>
  <script src="./src/flowable-ui-admin-app/scripts/app-definitions-controllers.js"></script>
  <script src="./src/flowable-ui-admin-app/scripts/app-definition-controllers.js"></script>
  <script src="./src/flowable-ui-admin-app/scripts/decision-table-deployments-controllers.js"></script>
  <script src="./src/flowable-ui-admin-app/scripts/decision-table-deployment-controllers.js"></script>
  <script src="./src/flowable-ui-admin-app/scripts/decision-tables-controllers.js"></script>
  <script src="./src/flowable-ui-admin-app/scripts/decision-table-controllers.js"></script>
  <script src="./src/flowable-ui-admin-app/scripts/decision-table-executions-controllers.js"></script>
  <script src="./src/flowable-ui-admin-app/scripts/decision-table-execution-controllers.js"></script>
  <script src="./src/flowable-ui-admin-app/scripts/form-deployments-controllers.js"></script>
  <script src="./src/flowable-ui-admin-app/scripts/form-deployment-controllers.js"></script>
  <script src="./src/flowable-ui-admin-app/scripts/form-definitions-controllers.js"></script>
  <script src="./src/flowable-ui-admin-app/scripts/form-definition-controllers.js"></script>
  <script src="./src/flowable-ui-admin-app/scripts/form-instances-controllers.js"></script>
  <script src="./src/flowable-ui-admin-app/scripts/form-instance-controllers.js"></script>
  <script src="./src/flowable-ui-admin-app/scripts/content-items-controllers.js"></script>
  <script src="./src/flowable-ui-admin-app/scripts/content-item-controllers.js"></script>
  <script src="./src/flowable-ui-admin-app/scripts/test-process-controller.js"></script>


  <script src="./src/flowable-ui-modeler-app/scripts/app-cfg.js?v=2"></script>
  <script src="./src/flowable-ui-modeler-app/scripts/configuration/url-config.js"></script>
  <script src="./src/flowable-ui-modeler-app/scripts/common/services/resource-service.js"></script>
  <script src="./src/flowable-ui-modeler-app/scripts/controllers/processes.js"></script>
  <script src="./src/flowable-ui-modeler-app/scripts/controllers/process.js"></script>

  <script src="./src/flowable-ui-modeler-app/scripts/controllers/casemodels.js"></script>
  <script src="./src/flowable-ui-modeler-app/scripts/controllers/casemodel.js"></script>

  <script src="./src/flowable-ui-modeler-app/scripts/controllers/forms.js"></script>
  <script src="./src/flowable-ui-modeler-app/scripts/controllers/form.js"></script>

  <script src="./src/flowable-ui-modeler-app/scripts/services/form-services.js"></script>
  <script src="./src/flowable-ui-modeler-app/scripts/controllers/form-builder.js"></script>
  <script src="./src/flowable-ui-modeler-app/scripts/configuration/form-builder-toolbar-default-actions.js"
    type="text/javascript"></script>
  <script src="./src/flowable-ui-modeler-app/scripts/configuration/form-builder-toolbar.js"
    type="text/javascript"></script>
  <script src="./src/flowable-ui-modeler-app/scripts/controllers/form-toolbar-controller.js"
    type="text/javascript"></script>
  <script src="./src/flowable-ui-modeler-app/scripts/controllers/form-readonly-view.js"></script>

  <script src="./src/flowable-ui-modeler-app/scripts/controllers/decision-tables.js"></script>
  <script src="./src/flowable-ui-modeler-app/scripts/controllers/decision-table.js"></script>

  <script src="./src/flowable-ui-modeler-app/editor-app/libs/prototype-1.7.3.js" type="text/javascript"></script>
  <script src="./src/flowable-ui-modeler-app/editor-app/eventbus.js" type="text/javascript"></script>
  <script src="./src/flowable-ui-modeler-app/editor-app/editor/oryx.debug.js" type="text/javascript"></script>
  <script src="./src/flowable-ui-modeler-app/editor-app/editor-controller.js" type="text/javascript"></script>
  <script src="./src/flowable-ui-modeler-app/editor-app/editormanager.js" type="text/javascript"></script>


  <script src="./src/flowable-ui-modeler-app/editor-app/libs/ui-utils.min-0.2.1.js" type="text/javascript"></script>
  <script src="./src/flowable-ui-modeler-app/editor-app/libs/mousetrap/1.6.0/mousetrap.min.js"
    type="text/javascript"></script>
  <script src="./src/flowable-ui-modeler-app/editor-app/libs/jquery.autogrow-textarea.js"
    type="text/javascript"></script>

  <script src="./src/flowable-ui-modeler-app/editor-app/eventbus.js" type="text/javascript"></script>
  <script src="./src/flowable-ui-modeler-app/editor-app/configuration/url-config.js" type="text/javascript"></script>
  <script src="./src/flowable-ui-modeler-app/editor-app/stencil-controller.js" type="text/javascript"></script>
  <script src="./src/flowable-ui-modeler-app/editor-app/toolbar-controller.js" type="text/javascript"></script>
  <script src="./src/flowable-ui-modeler-app/editor-app/header-controller.js" type="text/javascript"></script>
  <script src="./src/flowable-ui-modeler-app/editor-app/select-shape-controller.js" type="text/javascript"></script>
  <script src="./src/flowable-ui-modeler-app/editor-app/define-data-controller.js" type="text/javascript"></script>
  <script src="./src/flowable-ui-modeler-app/editor-app/process-navigator-controller.js"
    type="text/javascript"></script>
  <script src="./src/flowable-ui-modeler-app/editor-app/configuration/toolbar.js" type="text/javascript"></script>
  <script src="./src/flowable-ui-modeler-app/editor-app/configuration/toolbar-custom-actions.js"
    type="text/javascript"></script>

  <!-- End custom js for this page-->
</body>

</html>